<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container px-lg-5">
      <div class="row mx-lg-n5">
        <div class="col py-3 px-lg-5 border bg-light"><a href="/formhp">Click here to create HP story!</a><br></div>

        <div class="col py-3 px-lg-5 border bg-light"><a href="/formlotr">Click here to create LOTR story!</a></div>

      </div>
    </div>
    <div class="row mx-lg-n8">
      <div class="col py-3 px-lg-10 border bg-light">
        Please select back-background color for your story!
      </div>
    </div>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-light">
      <input type="radio" name="options" value="#3399ff" autocomplete="off"> Blue
    </label>
    <label class="btn btn-light">
      <input type="radio" name="options" value="#ff9933" autocomplete="off"> Orange
    </label>
    <label class="btn btn-light">
      <input type="radio" name="options" value="#009933" autocomplete="off"> Green
    </label>
    <label class="btn btn-light">
      <input type="radio" name="options" value="#cc6699" autocomplete="off"> Pink
    </label>
  </div>

  </body>
</html>
