<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LOTR Story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill the form to create LOTR story!</h1>
    <form action="/storylotr" method="post">
      <label for="noun">Noun</label>
      <input type="text" name="noun" id="noun">

      <label for="secondnoun">Noun</label>
      <input type="text" name="secondnoun" id="secondnoun">


      <label for="verb">Verb</label>
      <input type="text" name="verb" id="verb">

      <label for="noun">Adjective</label>
      <input type="text" name="adjective" id="adjective">
      <button type="submit" name="button">Go!</button>
    </form>

  </body>
</html>
