<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Create Harry Potter story</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Create Harry Potter story!</h1>
    <form action="/storyhp" method="post">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="noun">Noun</label>
    <input type="text" name="noun" id="noun">
    <label for="secondnoun">Noun</label>
    <input type="text" name="secondnoun" id="secondnoun">
    <label for="adjective">Adjecive</label>
    <input type="text" name="adjective" id="adjective">
    <button type="submit" name="button">GO!</button>
    </form>

  </body>
</html>
