<h1>Lord of the Ring Story! </h1>
But suddenly the Mirror went altogether dark, as dark as if a @Model.GetNoun() had opened
in the world of sight, and Frodo looked into emptiness. In the black abyss
there appeared a single @Model.GetSecondNoun() that slowly @Model.GetVerb() until it filled nearly all the
Mirror. So @Model.GetAdjective() was it that Frodo stood rooted, unable to cry out or to withdraw
 his gaze.
